@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@font-face {
	font-family: myCaveat;
	src: url(../font/Caveat-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}


.main-sec{
    height: 100%;
    width: 80%;
    padding: 10%;
    background-color: #fff;
}
h1{
	color: purple;
	text-align: center;
}
b,h2,h3,h4{
    color: crimson;
}
ul{
	margin-left:400px;
}
p.center-text{
	text-align:center;
}
p.left-text{
	text-align:left;
}
p.right-text{
	text-align:right;
}
p.justify-text{
	text-align:justify;
}
p.last-center{
	text-align-last:center;
}
p.last-left{
	text-align-last:left;
}
p.last-right{
	text-align-last:right;
}
p.last-justify{
	text-align-last:justify;
}

.dir-lr{
	direction: ltr;
	unicode-bidi: bidi-override;
}
.dir-rl{
	direction: rtl;
	unicode-bidi: bidi-override;
}


p.last-center{
	text-align-last:center;
}
p.last-left{
	text-align-last:left;
}
p.last-right{
	text-align-last:right;
}
p.last-justify{
	text-align-last:justify;
}

p.va{
	font-size:30px;
}
span.ver-bl{
	font-size:10px;
	vertical-align: baseline;
}
span.ver-tt{
	font-size:10px;
	vertical-align: text-top;
}
span.ver-tb{
	font-size:10px;
	vertical-align: text-bottom;
}
span.ver-sub{
	font-size:10px;
	vertical-align: sub;
}
span.ver-sup{
	font-size:10px;
	vertical-align: super;
}


p.dec-ol{
	text-decoration-line: overline;
	text-decoration-color: blue;
}
p.dec-ul{
	text-decoration-line: underline;
	text-decoration-color: purple;  
}
p.dec-lt{
	text-decoration-line: line-through;
	text-decoration-color: red;
}
p.dec-ou{
	text-decoration-line: overline underline;
	text-decoration-color: green;
}

p.dec-solid{
	text-decoration: underline black solid 5px;
}
p.dec-double{
	text-decoration-line: underline;
	text-decoration-color: indigo;
	text-decoration-style: double;
	text-decoration-thickness: 3px;
}
p.dec-dotted{
	text-decoration-line: underline;
	text-decoration-color: red;
	text-decoration-style: dotted;
	text-decoration-thickness: 5px;
}
p.dec-dashed{
	text-decoration-line: underline;
	text-decoration-color: green;
	text-decoration-style: dashed;
	text-decoration-thickness: 5px;
}
p.dec-wavy{
	text-decoration-line: underline;
	text-decoration-color: blue;
	text-decoration-style: wavy;
	text-decoration-thickness: 3px;
}

p.tran-up{
	text-transform: uppercase;
}
p.tran-low{
	text-transform: lowercase;
}
p.tran-cap{
	text-transform: capitalize;
}

.scroll{
	height:100px;
	width:100%;
	overflow: scroll;
}

p.text-space{
	text-indent: 50px;
	letter-spacing: 2px;
	line-height: 1.5;
	word-spacing: 5px;
}
p.text-wspace{
	white-space: nowrap;
}

.add-shadow{
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px 5px red;

}

.para-pad{
	padding: 10px 30px;
}

.para-rgb{
	color: rgb(0, 2, 128);
}

.para-rgba{
	color: rgb(128, 0, 128);
	background-color: rgba(128, 0, 128, 0.1);
}


.para-hex{
	color:#063406;
}
.para-3hex{
	color:#094009;
	background-color:rgba(0, 128, 0, 0.1);
}

.para-hsl{
	color:hsl(9, 97%, 50%);
}
.para-hsla{
	color:hsl(9, 97%, 50%);
	background-color:hsla(12, 88%, 49%, 0.1);
}

.sono-font{
	font-family: 'Sono', sans-serif;
	font-size: 20px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
}

.caveat-font{
	font:  italic normal 500 24px/30px  'myCaveat', cursive;
}


.cm{
	font-size: 1cm;
}
.mm{
	font-size: 8mm;
}
.in{
	font-size: 0.5in;
}
.pt{
	font-size: 20pt;
}
.px{
	font-size: 20px;
}

.r-units{
	font-size: 20px;
}

.em{
	font-size: 1.2em;
}
.rem{
	font-size: 1.25rem;
}
.per{
	font-size: 110%;
}
.vw{
	font-size: 2vw;
}
.vh{
	font-size: 5vh;
}


.borders-div p{
	padding: 10px;
}

.dotted{
	border-style: dotted;
}
.dashed{
	border-style: dashed;
}
.solid{
	border-style: solid;
}
.double{
	border-style: double;
}
.groove{
	border-style: groove;
}
.ridge{
	border-style: ridge;
}
.inset{
	border-style: inset;
}
.outset{
	border-style: outset;
}
.none{
	border-style: none;
}
.hidden{
	border-style: hidden;
}
.multi-border{
	border-style: ridge dotted double dashed ;
}

.border-wc p{
	padding: 10px;
}

.para-wc{
	border-style: groove dashed;
	border-width: 10px;
	border-color: rebeccapurple;
}

.para-bor-short{
	border: 5px dotted rebeccapurple;
}

.para-bor-rad{
	border: 3px solid rebeccapurple;
	border-radius: 10px;
}

.css-links{
	padding: 5px 50px;
}

.a-top:link {
	color: blue;
}
.a-top:visited {
	color: green;
}
.a-top:hover {
	color: hotpink;
}
.a-top:active {
	color: red;
}


.link-to-html{
	/* background-color: rebeccapurple; */
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
}

.link-to-html:link {
	background-color: rebeccapurple;
}
.link-to-html:visited {
	background-color: red;
}
.link-to-html:hover {
	background-color: crimson;
}
.link-to-html:active {
	background-color: green;
}

ul.ul-square {
  list-style-type: circle;
	margin-left: 100px;
}

ul.ul-circle {
  list-style-type: square;
	margin-left: 100px;
}

ul.ul-img {
  list-style-image: url("../img/png-pin.png");
	margin-left: 100px;
}

ol.ol-up-rom {
  list-style-type: upper-roman;
	margin-left: 100px;
}

ol.ol-low-alp {
  list-style-type: lower-alpha;
	margin-left: 100px;
}

.table-companies{
	border-collapse: collapse;
  width: 80%;
}

.table-companies td, .table-companies th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-companies th {
  padding: 10px 0;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.table-companies tr:nth-child(even){
	background-color: #f2f2f2;
}

.table-companies tr:hover{
	background-color: #ddd;
}